:root {
    --m: 'Montserrat';
    --dark: #323232;
    --grey: #E1E1E1;
}

@media(max-width:1140px) {
    .nav_list {
        gap: 20px;
    }

    .nav_icons {
        gap: 30px;
    }
}

@media(max-width:1000px) {
    .nav_box {
        position: relative;
        justify-content: flex-end;
    }

    .nav_list {
        order: -1;
        width: 330px;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(4%,-5%);
        height: 20px;
        align-items: center;
        justify-content: center;
        overflow: hidden;   
        transition: 0.5s;
        border-radius: 10px;
    }

    .nav_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,10%)
    }

    .menu {
        display: block;
        position: absolute;
        top: 50%;
        left: 3%;
        z-index: 1;
    }

    .close {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(70%,20%);
    }

    #chek:checked~.nav_list {
        background-color: var(--grey);
        box-shadow: 6px 6px 15px 0px #84848476;
        height: 100px;
    }

    #chek:checked~.menu {
        transform: scale(0);
    }
}

@media(max-width:850px) {
    .nav_box {
        padding-top: 30px;
    }

    .nav_list {
        transform: scaleY(0);
        top: 30%;
    }

    #chek:checked~.nav_list {
        transform: scale(1);
    }

    .nav_logo {
        transform: translate(-50%,-40%)
    }

    .menu {
        transform: translateY(-30%);
    }
}

@media(max-width:750px) {
    .botmenu_box {
        position: fixed;
        bottom: 0;
        margin-right: auto;
        margin-left: auto;
        height: 100px;
        width: 95%;
        border-top: 2px solid var(--dark);
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        z-index: 99;
    }
    
    .botmenu_card  img {
        width: 40px;
        filter: invert(15%) brightness(85%);
}

    .botmenu_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .botmenu_card p {
        font-size: 16px;
        font-weight: 500;
        color: #323232;
    }

    .nav_list {
        display: none;
    }

    .menu {
        display: none;
    }

    .nav_icon {
        display: none;
    }

    .ru {
        display: block;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-30%);
    }

    .ru img {
        width: 30px;
    }

    .nav_box {
        height: 76px;
    }
}

@media(max-width:500px) {
    .botmenu_card  img {
        width: 30px;
    }

    .botmenu_card p {
        font-size: 14px;
        font-weight: 500;
        color: #323232;
    }

    .botmenu_card {
        gap: 6px;
    }

    .botmenu_box {
        height: 80px;
    }

    .nav_logo {
        left: 0;
        transform: translate(10%,-40%);
        font-size: 28px;
    }

    .nav_box {
        height: 65px;
    }

    .ru img {
        width: 28px;
    }
}

@media(max-width:350px) {
    .botmenu_card  img {
        width: 25px;
    }

    .botmenu_card p {
        font-size: 12px;
        font-weight: 500;
        color: #323232;
    }

    .botmenu_box {
        height: 60px;
    }

    .botmenu_card {
        gap: 4px;
    }

    .nav_box {
        height: 50px;
    }

    .nav_logo {
        font-size: 24px;
    }

    .ru img {
        width: 24px;
    }
}

