:root {
    --m: 'Montserrat';
    --dark: #323232;
    --grey: #E1E1E1;
}

@media(max-width:1350px) {
    .intro_box {
        flex-direction: column-reverse;
        align-items: center;
    }

    .intro_right {
        height: 618px;
    }

    .intro_left {
        max-width: 746px;
        width: 100%;
    }

    .intro_left_card {
        max-width: 746px;
        width: 100%;
    }

    .watchs_box {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:1140px) {
    .nav_list {
        gap: 20px;
    }

    .nav_icons {
        gap: 30px;
    }
}

@media(max-width:1000px) {
    .nav_box {
        position: relative;
        justify-content: flex-end;
    }

    .nav_list {
        order: -1;
        width: 330px;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(4%,-5%);
        height: 20px;
        align-items: center;
        justify-content: center;
        overflow: hidden;   
        transition: 0.5s;
        border-radius: 10px;
    }

    .nav_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,10%)
    }

    .menu {
        display: block;
        position: absolute;
        top: 50%;
        left: 3%;
        z-index: 1;
    }

    .close {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(70%,20%);
    }

    #chek:checked~.nav_list {
        background-color: var(--grey);
        box-shadow: 6px 6px 15px 0px #84848476;
        height: 100px;
    }

    #chek:checked~.menu {
        transform: scale(0);
    }
}

@media(max-width:850px) {
    .nav_box {
        padding-top: 30px;
    }

    .nav_list {
        transform: scaleY(0);
        top: 30%;
    }

    #chek:checked~.nav_list {
        transform: scale(1);
    }

    .nav_logo {
        transform: translate(-50%,-40%)
    }

    .menu {
        transform: translateY(-30%);
    }

    .intro_right {
        height: 518px;
    }

    .nav_list {
        z-index: 99;
    }
}

@media(max-width:800px) {
    .watchs_card_persent {
        transform: scale(0.9);
        top: 12px;
        left: 9px;
    }

    .watchs_card_box img {
        width: 180px;
    }

    .watchs_card_box {
        gap: 15px;
    }

    .watchs_card {
        min-height: 440px;
    }

    .watch_card_icons {
        gap: 10px;
    }

    .watch_card_icons {
        transform: scale(0.9);
        top: 8px;
        right: 10px;
    }
}

@media(max-width:750px) {
    .botmenu_box {
        position: fixed;
        bottom: 0;
        margin-right: auto;
        margin-left: auto;
        height: 100px;
        width: 95%;
        border-top: 2px solid var(--dark);
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }
    
    .botmenu_card  img {
        width: 40px;
        filter: invert(15%) brightness(85%);
}

    .botmenu_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .botmenu_card p {
        font-size: 16px;
        font-weight: 500;
        color: #323232;
    }

    .nav_list {
        display: none;
    }

    .menu {
        display: none;
    }

    .nav_icon {
        display: none;
    }

    .ru {
        display: block;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-30%);
    }

    .ru img {
        width: 30px;
    }

    .nav_box {
        height: 76px;
    }
}

@media(max-width:700px) {
    .right_content img {
        width: 250px;
    }

    .right_content {
        gap: 15px;
    }

    .watchs_box {
        row-gap: 30px;
    }
}

@media(max-width:650px) {
    .watchs_card_box img {
        width: 150px;
    }

    .watchs_card_text {
        font-size: 18px;
    }

    .watchs_card_title {
        font-size: 18px;
    }

    .watchs_card_box {
        gap: 8px;
    }

    .watchs_card {
        min-height: 390px;
    }
}

@media(max-width:600px) {
    .right_content img {
        width: 220px;
    }

    .right_content {
        gap: 10px;
    }

    .intro_right {
        height: 400px;
    }

    .watchs_box {
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(4,1fr);
        overflow-x: scroll;
        padding-bottom: 20px;
        transform: translate3d(0, 0, 0) scale(1);
        will-change: transform;
        image-rendering: crisp-edges;
    }
    
    .watchs_card {
        width: 300px;
        flex-shrink: 0;
    }
}

@media(max-width:550px) {
    .left_content {
        gap: 10px;
    }
}

@media(max-width:500px) {
    .botmenu_card  img {
        width: 30px;
    }

    .botmenu_card p {
        font-size: 14px;
        font-weight: 500;
        color: #323232;
    }

    .botmenu_card {
        gap: 6px;
    }

    .botmenu_box {
        height: 80px;
    }

    .nav_logo {
        left: 0;
        transform: translate(10%,-40%);
        font-size: 28px;
    }

    .nav_box {
        height: 65px;
    }

    .ru img {
        width: 28px;
    }

    .right_content img {
        width: 170px;
    }

    .right_content {
        flex-direction: column;
        gap: 20px;
    }

    .intro_right {
        height: 330px;
    }

    .left_content_texts {
        gap: 15px;
    }

    .right_content_text span {
        font-size: 18px;
    }

    .left_content img {
        width: 110px;
    }

    .intro_left_persent {
        transform: scale(0.8);
        top: 10px;
        left: 5px;
    }

    .content_second {
        justify-content: flex-start;
    }

    .intro_box {
        margin-top: 20px;
    }

    .intro_left {
        flex-direction: row;
        overflow: hidden;
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    .intro_left_card {
        flex-shrink: 0;
    }

    .intro_left::-webkit-scrollbar {
        height: 0;
    }
}

@media(max-width:450px) {
    .persent {
        transform: scale(0.9);
        top: 14px;
        left: 14px;
    }

    .intro_left_persent {
        transform: scale(0.7);
        top: 6px;
        left: -4px;
    }

    .left_content {
        flex-direction: column;
    }

    .content_second {
        transform: translate(0);
    }

    .intro_left_card {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

@media(max-width:350px) {
    .botmenu_card  img {
        width: 25px;
    }

    .botmenu_card p {
        font-size: 12px;
        font-weight: 500;
        color: #323232;
    }

    .botmenu_box {
        height: 60px;
    }

    .botmenu_card {
        gap: 4px;
    }

    .nav_box {
        height: 50px;
    }

    .nav_logo {
        font-size: 24px;
    }

    .ru img {
        width: 24px;
    }

    .persent {
        transform: scale(0.75);
        top: 8px;
        left: 1px;
    }

    .intro_box {
        gap: 16px;
    }

    .intro_right {
        height: 250px;
    }

    .right_content img {
        width: 140px;
    }

    .right_content {
        gap: 14px;
    }

    .left_content_texts {
        gap: 8px;
    }

    .right_content_text span {
        font-size: 16px;
    }

    .right_content_text {
        font-size: 14px;
    }

    .left_content img {
        width: 90px;
    }
}

