@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --m: 'Montserrat';
    --dark:     ;
    --grey: #E1E1E1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--m);
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* nav */

.nav_box {
    padding: 50px 12px 20px;
    border-bottom: 2px solid var(--dark);
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 23px;
    color: var(--dark);
}

.nav_list {
    display: flex;
    gap: 30px;
}

.nav_icons {
    display: flex;
    gap: 40px;
}

.nav_link {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    color: var(--dark);
}

/* intro */

.intro_box {
    margin-top: 40px; 
    display: flex;
    gap: 24px;
    padding: 0 12px;
}

.persent {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;   
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    color: #fff;

}

.intro_left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.intro_left_card {
    position: relative;
    width: 526px;
    padding-top: 73px;
    padding-bottom: 47px;
    background-color: var(--grey);
    border-radius: 10px;
    box-shadow: 6px 6px 15px 0px #84848476;
}

.left_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.left_content_texts {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.left_content_text {
    color: var(--dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.left_content_text span {
    font-weight: 700;
    text-transform: uppercase;
}

.content_second {
    gap: 12px;
    transform: translateX(7%);
}

.intro_right {
    position: relative;
    max-width: 746px;
    width: 100%;
    background-color: var(--grey);
    box-shadow: 6px 6px 15px 0px #84848476;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_content {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.left_content_texts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right_content_text {
    color: var(--dark);
    font-size: 15px;
    font-weight: 400;
    line-height: 16.84px;
}

.right_content_text span {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 16.84px; 
}

.menu,
.close,.bot_menu {
    background-color: unset;
    border: unset;
    display: none;
}

.menu img,.close img {
    width: 20px;
}

#chek {
    display: none;
}

.botmenu_box {
    display: none;
}

/* watch */

.title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36.57px;
    letter-spacing: 2.2px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}

.watchs_box {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    column-gap: 24px;
    row-gap: 40px;
    padding: 40px 12px 0;
    border-top: 2px solid var(--dark);
    border-radius: 2px;
}

.watchs_card {
    min-height: 485px;
    background-color: var(--grey);
    box-shadow: 6px 6px 15px 0px #84848476;
    border-radius: 10px;
    position: relative;
}

.watchs_card_box {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.watchs_card_text {
    color: var(--dark);
    font-weight: 400;
    font-size: 20px;
    line-height: 24.38px;
}

.watchs_card_title {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.38px;
}

.watch_card_icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.watch_card_icons img {
    padding: 15px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.watchs_more {
    color: var(--dark);
    font-weight: 400;
    font-size: 30px;
    line-height: 36.57px;
    text-align: center;
    margin-top: 60px;
    display: block;
}

/* news_box */

.news_box {
    margin-top: 30px;
    border-top: 2px solid var(--dark);
    border-radius: 2px;
    padding: 40px 12px 0;
    display: flex;
    gap: 24px;
}

.news_card:nth-child(1) {
    background-image: url(../images/news1.png);
}

.news_card:nth-child(2) {
    background-image: url(../images/news2.png);
}

.news_card {
    max-width: 636px;
    padding: 110px 60px 60px;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}

.news_card::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #323232B2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 20%;
}

.news_advise {
    padding: 13px 30px;
    background-color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.38px;
    border-radius: 8px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
}

.news_card_title {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;
}

.news_card_text {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 100px;
    max-width: 462px;
}

.news_card_box {
    display: flex;
    gap: 10px;
}

.news_card_box p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
}

/* footer */

.footer {
    background-color: var(--dark);
    margin-top: 60px;
    padding-top: 100px;
    padding-bottom: 87px;
}

.footer_box {
    display: flex;
    justify-content: space-between;
}

.footer_1st_title {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 23px;
    margin-bottom: 40px;
}

.footer_1st_list,
.footer_2nd_list,
.footer_3rd_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_link {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
}

.footer_title {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.82px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer_3rd_info p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
}

.footer_3rd_tels {
    display: flex;
    gap: 12px;
}

.footer_3rd_tels a {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;    
}

.footer_3rd_link {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
}

.footer_3rd_info {
    margin-bottom: 60px;        
}

.footer_3rd_text {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 2.5px;    
    margin-bottom: 40px;
}

.footer_icons {
    display: flex;
    gap: 26px;
}