@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --m: 'Montserrat';
    --dark: #323232;
    --grey: #E1E1E1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--m);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* nav */

.nav_box {
    padding: 50px 12px 20px;
    border-bottom: 2px solid var(--dark);
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 23px;
    color: var(--dark);
}

.nav_list {
    display: flex;
    gap: 30px;
}

.nav_icons {
    display: flex;
    gap: 40px;
}

.nav_link {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    color: var(--dark);
}

/* intro */

.intro_box {
    margin-top: 40px;
    display: flex;
    gap: 24px;
    padding: 0 12px;
}

.persent {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 38px;
    background-color: var(--dark);
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    color: #fff;

}

.intro_left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.intro_left_card {
    position: relative;
    width: 526px;
    padding-top: 73px;
    padding-bottom: 47px;
    background-color: var(--grey);
    border-radius: 10px;
    box-shadow: 6px 6px 15px 0px #84848476;
}

.left_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.left_content_texts {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.left_content_text {
    color: var(--dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.left_content_text span {
    font-weight: 700;
    text-transform: uppercase;
}

.content_second {
    gap: 12px;
    transform: translateX(7%);
}

.intro_right {
    position: relative;
    max-width: 746px;
    width: 100%;
    background-color: var(--grey);
    box-shadow: 6px 6px 15px 0px #84848476;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_content {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.left_content_texts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right_content_text {
    color: var(--dark);
    font-size: 15px;
    font-weight: 400;
    line-height: 16.84px;
}

.right_content_text span {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 16.84px; 
}

.menu,
.close {
    background-color: unset;
    border: unset;
    display: none;
}

.menu img,.close img {
    width: 20px;
}

#chek {
    display: none;
}